*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo-primaria);
  font-size: var(--tamanho-fonte);
  margin: 0;
  cursor: url("cursor/normal.svg"), auto;
}

main {
    display: block;
    max-width: 1200px;
    margin: 2rem auto;
}

.section-title{
    text-align: center;
    padding: 2rem 0;
}