header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #1f859e;
    z-index: 50;
}

ul{
    display: flex;
    list-style: none;
}

.navbar-desktop{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 50px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 2px 4px gray;
}

a:hover{
    color: #2f11d6;
    cursor: url("cursor/click.svg"), auto;
}

.logo{
    width: 80px;
    animation: fadeIn 1s ease-in forwards;
}

.logo:hover {
  animation: pulse 1s infinite;
}

.redes{
    width: 2rem;
    margin-right: 10px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}
  
.linha-menu-top, .linha-menu-bottom{
    background-color: #ffffff;
    height: 5px;
    width: 50px;
    margin-top: 10px;
}

.linha-menu-center{
    background-color: #385bce;
    height: 5px;
    width: 60px;
    margin-top: 10px;
    margin-left: -10px;
}

.linha-menu-center::before{
    border-color: transparent #2f4bff #2f4bff transparent;
    border-style: solid;
    border-width: 5px;
    content: '';
    left: -10px;
    position: absolute;
    top: 22px;
    transform: rotate(139deg);
}

.menu-toggle {
    display: none;
}